<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emil.showsmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ShowsManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/activity_search" />
        </activity>
        <activity android:name=".activities.UpcomingEpisodesActivity" />
        <activity android:name=".view.ShowDetailsActivity" />
        <activity android:name=".activities.SubscribedShowsActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchResultDetailsActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".activities.LoadingDialog"></activity>
        <activity android:name=".view.SearchActivity"></activity>
    </application>

</manifest>